@media(max-height:730px){
    .popup-login,
    .popup-subscription{
        padding: 20px 40px;
    }
    .popup-login__create{
        margin-bottom: 20px;
    }
    .login-input-box + .login-input-box {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .login-btn{
        padding: 10px 46px;
    }
    .login-btn-box{
        margin-bottom: 20px;
    }
    .form-text{
        margin-bottom: 15px;
    }
    .sign__btn-box {
        margin-bottom: 20px;
    }
}

@media(max-width:1220px){
    .logo130{
        display: none;
    }
    .logo60{
        display: inline;
        margin-bottom: 20px;
    }
    .about__info{
        padding: 40px;
    }
    .about__info-text + .about__info-text {
        margin-top: 16px;
    }
}

@media(max-width:1100px){
    .menu__list{
        gap: 20px;
    }
    .header__btn-telegram{
        margin-right: 20px;
    }
    .header__btn-language{
        margin-right: 30px;
    }
    .benefit__info{
        padding-top: 35px;
    }
    .item__link{
        margin-bottom: 20px;
    }
    .item__text{
        margin-bottom: 18px;
    }
    .choice__item-img{
        max-width: 480px;
    }
    .footer__links{
        max-width: 400px;
    }
}

@media(max-width:950px){
    .card__img{
        max-width: 100px; 
    }
    .first-line{
        align-items: center;
    }
    .work__card{
        padding: 20px;
    }
    .work__card{
        height: auto;
    }
    .info{
        max-width: 275px;
    }
    .invite__title {
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 16px;
    }
    .about__info p{
        font-size: 17px;
        line-height: 26px;
    }
    .about__inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about__img-box,
    .about__info{
        width: 70%;
    }
}

@media(max-width:930px){
    .choice__item-img{
        max-width: 425px;
    }
    .menu,
    .header__btn-tel,
    .header__btn-telegram,
    .header__btn-language,
    .login{
        display: none;
    }
    .mobile-header-btn-box .header__btn-tel,
    .mobile-header-btn-box .header__btn-telegram,
    .mobile-header-btn-box .header__btn-language{
        display: block;
    }
    .mobile-header-btn-box .header__btn-telegram{
        flex: 1 1 auto;
    }
    .menu-btn{
        display: block;
        background-image: url(../images/icons/mobile-burg.svg);
        width: 28px;
        height: 28px;
        border: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .3s;
    }
    .menu-btn--active{
        background-image: url(../images/icons/mobile-burg-close.svg);
    }
    .mobile__menu{
        position: relative;
    }
    .mobile__menu-box{
        position: absolute;
    }
    .mobile__menu-box--active{
        transform: translateX(0%);
        min-height: 100%;
    }
    .benefit__info{
        padding: 20px;
    }
    .benefit__title{
        font-size: 28px;
        line-height: 39px;
        margin-bottom: 15px;
        max-width: 304px;
    }
    .benefit__text{
        margin-bottom: 30px;
    }
}

@media(max-width:870px){
    section{
        margin-bottom: 100px;
    }
    .item__text{
        display: none;
    }
    .item__title {
        font-size: 22px;
        line-height: 31px;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .choice__item-img{
        max-width: 350px;
    }
    .card__title {
        font-size: 19px;
        line-height: 27px;
        padding-bottom: 25px;
    }
    .copy_text{
        font-size: 18px;
        line-height: 27px;
    }
    .link__text{
        font-size: 18px;
        line-height: 25px;
    }
    .invite{
        padding: 32px;
    }
    .about__info{
        padding: 20px;
    }
    .faq__list-item{
        padding: 20px;
    }
    .faq__list-content{
        font-size: 17px;
        line-height: 26px;
    }
    .request__inner{
        padding: 32px;
    }
    .request__info-title {
        font-size: 19px;
        line-height: 27px;
        margin-bottom: 16px;
    }
    .request__info-text {
        font-size: 17px;
        line-height: 26px;
    }
    .request__link{
        padding: 12px 83px;
    }
    .footer__links{
        max-width: 350px;
    }
    .footer__line{
        padding-top: 12px;
        border-top: 1px solid rgba(247, 247, 247, 0.5);
    }
}

@media(max-width:750px){
    .benefit__inner{
        flex-direction: column-reverse;
        align-items: center;
        gap: 16px;
    }
    .benefit__start{
        display: inline-block;
    }
    .benefit__info,
    .benefit__img-box{
        width: 90%;
    }
    .card__text{
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 0px;
    }
    .footer__content{
        flex-direction: column;
        align-items: center;
    }
    .footer__logo-motto {
        max-width: 300px;
    }
    .footer__logo {
        margin-bottom: 12px;
    }
    .footer__logo-box{
        margin-bottom: 40px;
    }
    .footer__links {
        max-width: 310px;
        margin-bottom: 40px;
    }
    .footer__btn{
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }
}

@media(max-width:700px){
    .invite{
        display: block;
    }
    .link__box{
        max-width: 639px;
        padding: 28px 33px;
    }
    .link__item{
        margin: 0 auto;
    }
    .link__text{
        margin-top: 0;
    }
    .info{
        margin-bottom: 20px;
    }
    .footer__line{
        flex-direction: column;
        align-items: center;
    }
    .footer__line p + p{
        margin-top: 12px;
    }
}

@media(max-width:650px){
    .choice__item-inner {
        flex-direction: column-reverse;
    }
    .choice__item-img{
        max-width: 100%;
    }
    .item__text{
        display: block;
    }
    .choice__item-info{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .item__link{
        display: block;
        text-align: center;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 32px;
    }
    .work__card-box{
        display: block;
    }
    .work__card{
        width: 100%;
        margin-bottom: 16px;
    }
    .card__text{
        max-width: 100%;
    }
    .work__card-box{
        margin-bottom: 16px;
    }
    .link__item span{
        font-size: 14px;
        line-height: 21px;
    }
    .about__img-box,
    .about__info{
        width: 100%;
    }
    .request__inner{
        flex-direction: column;
    }
    .request__info{
        margin-bottom: 32px;
    }
}

@media(max-width:550px){
    .sign__btn-box{
        display: flex;
        justify-content: space-between;
    }
    .sign__btn{
        padding: 11px 35px;
    }
}

@media(max-width:420px){
    .popup-login,
    .popup-subscription{
        padding: 30px;
    }
    .sign__btn img {
        max-height: 22px;
    }
    .sign__btn-box {
        margin-bottom: 20px;
    }
    .popup-login__create-span{
        display: block;
    }
    .popup-login__create {
        margin-bottom: 25px;
    }
    .login-input-box + .login-input-box {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media(max-width:380px){
    .header__logo-text{
        display: none;
    }
    .sign__btn{
        padding: 10px 27px;
    }
    .login-btn-box{
        flex-wrap: wrap;
    }
    .login-btn{
        display: block;
        width: 100%;
    }
    .forget{
        display: block;
        margin-bottom: 15px;
    }
}